

<div class="relative grid h-screen grid-cols-1 gap-10 application md:grid-cols-10">

  <section class="absolute w-full h-full md:col-span-3 md:relative sidebar ">
    <app-sidebar-application />
  </section>

  <div class="h-full col-span-1 md:col-span-7 content">

    @if (!this.hideNavbar()) {
      <nav-bar-application  />

    }

    <section class="container !mx-auto my-10  h-screen place-items-center"
      [class]="{
        'max-w-full': this.fullWidth()
      }">
      <router-outlet />

    </section>

    @if (!this.hideFooter()) {
      <footer-bar />

    }

  </div>

</div>
