<section class="container mx-auto">
  <h5
    class="block font-sans text-xl antialiased font-semibold tracking-normal leading-snug text-blue-gray-900"
  >
    Basic Information
  </h5>
  <p
    class="block mt-1 font-sans text-sm antialiased font-light font-normal leading-normal text-gray-600 text-inherit"
  >
    Update your profile information below.
  </p>
  <div class="flex flex-col mt-8">
    <div
      class="flex flex-col gap-4 items-end mb-6 md:flex-row"
    >
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          First Name
        </p>
        <div class="relative w-full min-w-[200px] h-11">
          <input
            placeholder="Emma"
            name="name"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
          />
        </div>
      </div>
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Last Name
        </p>
        <div class="relative w-full min-w-[200px] h-11">
          <input
            placeholder="Roberts"
            name="lastname"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4 mb-6 md:flex-row">
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          I'm
        </p>
        <div class="relative w-full min-w-full h-10">
          <select
            class="peer w-full h-full bg-transparent text-blue-gray-700 font-sans font-normal text-left outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all border text-sm px-3 py-3 rounded-[7px] border-blue-gray-200 border-t-blue-gray-200 aria-[expanded=true]:border-t-primary"
          >
            <option value="brazil">1</option>
            <option value="bucharest">2</option>
            <option value="london">3</option>
            <option value="washington">4</option>
          </select>
        </div>
      </div>
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Birth Date
        </p>
        <div class="relative w-full min-w-full h-10">
          <input
            id="date-picker"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
            placeholder="Select a Date"
          />
        </div>
      </div>
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Day
        </p>
        <div class="relative w-full min-w-full h-10">
          <select
            class="peer w-full h-full bg-transparent text-blue-gray-700 font-sans font-normal text-left outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all border text-sm px-3 py-3 rounded-[7px] border-blue-gray-200 border-t-blue-gray-200 aria-[expanded=true]:border-t-primary"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="4">5</option>
            <option value="4">6</option>
            <option value="4">7</option>
            <option value="4">8</option>
            <option value="4">9</option>
            <option value="4">10</option>
          </select>
        </div>
      </div>
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Year
        </p>
        <div class="relative w-full min-w-full h-10">
          <select
            class="peer w-full h-full bg-transparent text-blue-gray-700 font-sans font-normal text-left outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all border text-sm px-3 py-3 rounded-[7px] border-blue-gray-200 border-t-blue-gray-200 aria-[expanded=true]:border-t-primary"
          >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 items-end mb-6 md:flex-row"
    >
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Email
        </p>
        <div class="relative w-full min-w-[200px] h-11">
          <input
            placeholder="emma@mail.com"
            name="email"
            id="email"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
          />
        </div>
      </div>
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Confirm Email
        </p>
        <div class="relative w-full min-w-[200px] h-11">
          <input
            name="confirm email"
            id="confirm-email"
            placeholder="emma@mail.com"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
            placeholder=" "
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 items-end mb-6 md:flex-row"
    >
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Location
        </p>
        <div class="relative w-full min-w-[200px] h-11">
          <input
            placeholder="Florida, USA"
            name="location"
            id="location"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
          />
        </div>
      </div>
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Phone Number
        </p>
        <div class="relative w-full min-w-[200px] h-11">
          <input
            placeholder="+123 0123 456 789"
            name="phone"
            id="phone"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4 items-end md:flex-row">
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Language
        </p>
        <div class="relative w-full min-w-[200px] h-11">
          <input
            placeholder="Language"
            name="Language"
            id="Language"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
          />
        </div>
      </div>
      <div class="w-full">
        <p
          class="block mb-2 font-sans text-sm antialiased font-light font-medium leading-normal text-blue-gray-900"
        >
          Skills
        </p>
        <div class="relative w-full min-w-[200px] h-11">
          <input
            placeholder="Skills"
            name="Skills"
            id="Skills"
            class="px-3 py-3 w-full h-full font-sans text-sm font-normal text-blue-gray-700 bg-transparent rounded-md border border-blue-gray-200 transition-all peer outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 border-t-transparent focus:border-t-transparent placeholder:opacity-0 focus:placeholder:opacity-100 focus:border-gray-900 placeholder:opacity-100 focus:border-t-primary border-t-blue-gray-200"
          />
        </div>
      </div>
    </div>
  </div>
</section>

