<section class="grid h-screen gap-2 lg:grid-cols-2">

    <div class="hidden h-full lg:block" style="background-image: url('https://www.material-tailwind.com/img/bg-sign-in.avif'); background-size: cover;">
  </div>

  <div class="relative p-8 py-20 pt-24 my-auto text-center md:p-20 xl:px-32 xl:py-24">

    <div class="absolute left-0 right-0 mx-auto top-2 md:top-4 hover:cursor-pointer w-fit logoSection"
      (click)="goTo('home')">
      <img src="assets/images/logo_lui.png" class="w-20 h-w-20" alt="logo" />
    </div>

    <h3 class="block mb-2 font-sans text-3xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
      Inicia sesión
    </h3>
    <p class="block mb-6 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
      Enter your email and password to sign in
    </p>

    <form [formGroup]="form()" class="mx-auto max-w-[24rem] text-left space-y-4">

      <app-form-layout [formRows]="formRows()" [formRef]="form()">
      </app-form-layout>

      <div class="footerForm">
        <app-button
        [isLoading]="isLoading()"
        [fullWidth]="true" (onClick)="onSubmit()" [size]="'md'">
          <span text>
            Ingresar
          </span>
        </app-button>
      </div>

    </form>

    <div class="mx-auto max-w-[24rem] text-left">
      <hr class="my-4">
      <p class="block font-sans text-base antialiased font-normal leading-relaxed text-center text-gray-700">
        ¿No tienes cuenta?
        <a [routerLink]="['/register']" class="font-bold text-gray-900">
          Registrate ahora
        </a>
      </p>
    </div>

  </div>


</section>