<footer class="p-10 pcTab:py-20">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
      <p
        class="block antialiased font-sans leading-relaxed text-inherit !text-sm font-medium text-gray-500 lg:text-left text-center"
      >
        ©2024 Lui Explica Academy LLC - 1209 Mountain Road PL NE STE N Albuquerque SM 87110 USA | Derechos Reservados
      </p>
      <div class="flex gap-2 lg:ml-auto place-content-center">

        <a href="#buttons-with-link"
          ><button
            class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
            type="button"
            data-ripple-dark="true"
          >
            <span
              class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              ><i
                class="text-lg text-gray-500 transition-colors fa-brands fa-twitter hover:text-blue-gray-900"
              ></i
            ></span></button></a
        >

      </div>
    </div>
  </div>
</footer>