<footer class="px-10 py-4 ">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <div class="md:col-span-2">
        <p class="block antialiased font-sans leading-relaxed text-inherit !text-sm font-medium text-gray-500 lg:text-left text-center" >
          ©2025 Lui Explica Academy LLC - 1209 Mountain Road PL NE STE N Albuquerque SM 87110 USA | Derechos Reservados
        </p>
      </div>
      <div class="flex flex-row justify-end gap-2 socials md:col-span-1 place-content-center ">

        <app-text-button
          [size]="'xm'"
          [icon]="facebookIcon"
          [rounded]="true"

        />

      </div>
    </div>
  </div>
</footer>