<nav
  class="block w-full max-w-full px-4 py-4 text-white bg-white border rounded-none backdrop-saturate-200 backdrop-blur-2xl bg-opacity-80 border-white/80"
>
  <div
    class="container flex items-center justify-between mx-auto"
  >
    <div class="flex gap-2">
      <img src="/image/mt-logo.svg" alt="logo" /><a
        href="#"
        class="block mr-4 font-sans text-xs antialiased font-bold leading-relaxed cursor-pointer text-blue-gray-900"
        >Material <br />
        Tailwind</a
      >
      <div class="hidden lg:block">
        <ul
          class="flex flex-col gap-3 mt-2 mb-4 lg:mb-0 lg:mt-1 lg:flex-row lg:items-center lg:gap-8"
        >
            <li class="block p-1 font-sans text-sm antialiased font-medium leading-normal text-gray-600 " >
              Inicio
            </li>
            <!-- <li class="block p-1 font-sans text-sm antialiased font-medium leading-normal text-gray-600 " >
              Inicio
            </li> -->

          <!-- <a href="#" >
            <li class="block antialiased font-sans text-sm leading-normal text-inherit p-1 font-medium !text-gray-900" >
              Projects
            </li>
            </a> -->
        </ul>
      </div>
    </div>

  <button
      class="align-middle select-none font-sans font-bold text-center  transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20 !mt-4"
      type="button"
      data-ripple-dark="true"
    >
      Iniciar sesión
    </button>
  </div>
</nav>