
@if (!this.hideNavbar()) {
  <nav-bar-public [menuItems]="this.public_routes()" />

}

<section class="container !mx-auto  h-screen place-items-center"
  [class]="{
    'max-w-full': this.fullWidth()
  }">
  <router-outlet />

</section>

@if (!this.hideFooter()) {
  <footer-bar />

}

<app-sidebar
  [headerLogo]="true"
 >
  <app-nav-bar-menu menu
    class="w-full"
    [orientation]="'vertical'"
    [menuList]="this.public_routes()"
   />

  <div footer class="flex flex-col gap-2">
    <app-primary-button
      [uppercase]="true"
      [bold]="true"
      [fullWidth]="true"
      (onClick)="goTo('register')"
      text="Registrate" />
    <app-secondary-button
      [uppercase]="true"
      [bold]="true"
      [fullWidth]="true"
      (onClick)="goTo('login')"
      text="Iniciar sesión" />

  </div>

</app-sidebar>