
<div
[formGroup]="formRef()"
class="flex flex-col mb-2 sm:items-center ">
  @for (row of formRows(); track $index) {
    <div class="grid w-full grid-cols-1 m-0 gap-7 lg:mb-s_15 last:mb-0 {{ row.classes || '' }}">
      @for (field of row.fields; track $index) {
        @if (field.typeField === 'text') {
          <app-text-input-field
            [atts]="field.props"
            [formRef]="formRef()"
          />
        }
        @if (field.typeField === 'checkbox') {
          <app-checkbox-input-field
            [atts]="field.props"
            [formRef]="formRef()"
          />
        }
      }
    </div>
  }
</div>

