
<p-drawer #drawerRef [visible]="visible()" (onHide)="onHide()">
  <ng-template #headless>
    <div class="flex flex-col h-full px-4">
      <div class="flex items-center justify-between pt-4 mb-8 shrink-0">

        <span class="inline-flex items-center gap-2">
          <div class="logoSection hover:cursor-pointer">
            <img src="assets/images/logo_lui.png" class="w-16 h-16 pcTab:h-20 pcTab:w-20" alt="logo" />

          </div>

        </span>
        <span>
          <app-button [buttonStyle]="'text'" [icon]="iconButtonClose()" [size]="'sm'" (onClick)="close()" />

        </span>

      </div>
      <div class="overflow-y-auto ">
        <ng-content select="[menu]"></ng-content>

      </div>

      <div class="mt-auto mb-4 ">
        <hr class="mx-4 mb-4 border-0 border-t border-surface" />
        <ng-content select="[footer]"></ng-content>

      </div>
    </div>
  </ng-template>
</p-drawer>