<div [formGroup]="formRef()" class="relative w-full text-input-field">

  <div class="inline-flex items-center">
    <label class="relative flex items-center cursor-pointer p-3 rounded-full -ml-2.5" [attr.htmlFor]="id()" [for]="id()"
      data-ripple-dark="true">
      <input [id]="id()" [formControlName]="atts().name" type="checkbox"
        class="peer relative appearance-none w-5 h-5 border rounded-md border-blue-gray-200 cursor-pointer transition-all before:content[''] before:block before:bg-blue-gray-500 before:w-12 before:h-12 before:rounded-full before:absolute before:top-2/4 before:left-2/4 before:-translate-y-2/4 before:-translate-x-2/4 before:opacity-0 hover:before:opacity-10 before:transition-opacity checked:bg-gray-900 checked:border-gray-900 checked:before:bg-gray-900" />
      <!-- id=":r1:" -->
      <span
        class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
          stroke="currentColor" stroke-width="1">
          <path fill-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
            clip-rule="evenodd"></path>
        </svg>
      </span>
    </label>
    <label class="mt-px font-light text-gray-700 cursor-pointer select-none" for=":r1:">
      <p class="antialiased font-sans text-sm leading-normal flex font-medium items-center !text-gray-500"
        [innerHTML]="atts().label">
        <!-- I agree with the &nbsp;<a
        class="block font-sans text-sm antialiased font-medium leading-normal underline text-blue-gray-900">Terms and
        Conditions</a> -->
        <!-- <ng-content select="[label]"></ng-content> -->
      </p>
    </label>
  </div>

  @if (errorMessage() != '') {
  <app-error-message class="absolute bottom-0 left-8" [text]="errorMessage()" />

  }

</div>