<div
[formGroup]="formRef()"
class="relative w-full text-input-field">

    @if (!atts().labelInline) {
      @if (atts().label != '') {
        <label [for]="id()"
          class="block w-full mb-2 font-sans text-sm antialiased font-medium leading-normal text-gray-900 text-inherit">
          {{ atts().label }}
        </label>

      }
      <input
        [id]="id()"
        [type]="atts().type"
        [name]="atts().name"
        [placeholder]="atts().placeholder"
        [formControlName]="atts().name"
        class="h-full w-full rounded-md border border-blue-gray-200 bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-gray-900 focus:!border-t-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
        [ngClass]="{
          'py-1.5': atts().size === 'sm',
          'py-2': atts().size === 'md',
          'py-3': atts().size === 'lg',
        }" />

    }
    @if (atts().labelInline) {
       <dui-input
        [id]="id()"
        [label]="atts().label"
        [name]="atts().name"
        [type]="atts().type"
        [formControlName]="atts().name" />

    }

  @if (errorMessage() != '') {
    <app-error-message class="absolute -bottom-4 left-2" [text]="errorMessage()" />

  }
</div>
