<nav
  class="block w-full max-w-full p-4 text-white bg-white border rounded-none backdrop-saturate-200 backdrop-blur-2xl bg-opacity-80 border-white/80">
  <div class="flex items-center justify-between mx-auto ">
    <div class="flex ">

      <div (click)="goTo('home')" class="logoSection hover:cursor-pointer">
       <img src="assets/images/logo_lui.png" class="w-14 h-14 md:w-20 md:h-20" alt="logo" />
      </div>

    </div>

    <div class="flex gap-4 buttonGroup">

      <app-nav-bar-menu class="hidden pcTab:flex" [menuList]="this.menuItems()" />

      <div class="hidden gap-2 buttonsSection pcTab:flex">
          <app-primary-button
          [uppercase]="true"
          [bold]="true"
          (onClick)="goTo('register')"  text="Registrate" />
          <app-secondary-button
          [uppercase]="true"
          [bold]="true"
          (onClick)="goTo('login')"  text="Iniciar sesión" />

      </div>
      <div class="flex gap-2 buttonsSection pcTab:hidden">
        <app-text-button
          [size]="'sm'"
          [buttonStyle]="'text'"
          (onClick)="toggleDrawerSidebar()"
          [icon]="collapseIcon"
        />

      </div>

    </div>
  </div>

</nav>

