<section class="container px-8 py-16 mx-auto">
  <div
    class="flex items-start justify-between mb-2 rounded-none"
  >
    <div>
      <h6
        class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
      >
        Two-factor authentication
      </h6>
      <p
        class="block mt-1 font-sans text-sm antialiased font-light font-normal leading-normal text-gray-600 text-inherit"
      >
        Update your profile information below.
      </p>
    </div>
    <div
      class="relative grid items-center font-sans font-bold uppercase leading-none whitespace-nowrap select-none bg-green-500/20 text-green-900 py-1.5 px-3 text-xs rounded-lg"
    >
      <span class="">enabled</span>
    </div>
  </div>
  <div
    class="flex flex-wrap items-center justify-between py-6 border-b border-b-gray-200"
  >
    <div>
      <h6
        class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
      >
        Security keys
      </h6>
      <p
        class="block mt-1 font-sans text-sm antialiased font-light font-normal leading-normal text-gray-600 text-inherit"
      >
        Enhance account security by registering physical security keys.
      </p>
    </div>
    <div class="flex items-center gap-4 ml-auto">
      <p
        class="block antialiased font-sans text-sm font-light leading-normal text-inherit !ml-auto !font-normal text-gray-600"
      >
        No security keys
      </p>
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-4 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85]"
        type="button"
        data-ripple-dark="true"
      >
        add
      </button>
    </div>
  </div>
  <div
    class="flex flex-wrap items-center justify-between py-6 border-b border-b-gray-200"
  >
    <div>
      <h6
        class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
      >
        SMS Number
      </h6>
      <p
        class="block mt-1 font-sans text-sm antialiased font-light font-normal leading-normal text-gray-600 text-inherit"
      >
        Opt for SMS-based authentication, where a unique code is sent to your
        registered mobile number.
      </p>
    </div>
    <div class="flex items-center gap-4 ml-auto">
      <p
        class="block antialiased font-sans text-sm font-light leading-normal text-inherit !ml-auto !font-bold text-gray-900"
      >
        +4 0123 456 789
      </p>
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-4 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85]"
        type="button"
        data-ripple-dark="true"
      >
        Edit
      </button>
    </div>
  </div>
  <div
    class="flex flex-wrap items-center justify-between py-6 border-b border-b-gray-200"
  >
    <div>
      <h6
        class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900"
      >
        Authenticator App
      </h6>
      <p
        class="block mt-1 font-sans text-sm antialiased font-light font-normal leading-normal text-gray-600 text-inherit"
      >
        Generate time-based one-time passwords (TOTPs) for authentication.
      </p>
    </div>
    <div class="flex items-center gap-4 ml-auto">
      <p
        class="block antialiased font-sans text-sm font-light leading-normal text-inherit !ml-auto !font-normal text-gray-600"
      >
        Not configured
      </p>
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-4 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85]"
        type="button"
        data-ripple-dark="true"
      >
        add
      </button>
    </div>
  </div>
  <div class="flex justify-end mt-7">
    <button
      class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none bg-gray-900"
      type="button"
      data-ripple-light="true"
    >
      secure my account
    </button>
  </div>
</section>